:root {
    --lamp-size: 5px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #444;
    color: #11b43d;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 1em;
    justify-content: center;
}

footer {
    flex-grow: 0;
}

#ticket {
    display: flex;
    flex-direction: row;
    width: fit-content;
}

#ticket .left {
    display: grid;
    gap: 4px;
    grid-template-columns: repeat(10, 1fr);
}

#ticket .right {
    display: flex;
    justify-content: center;
    gap: 4px;
    flex-direction: column;
    margin-left: 10px;
}

#ticket .field {
    display: grid;
    min-width: auto;
    grid-auto-flow: row;
    gap: 1px;
    padding: 4px;
    background-color: #222;
    position: relative;
}

#ticket .field .number {
    display: block;
    position: absolute;
    border: 2px solid #f0f0f0;
    visibility: hidden;
    opacity: 0;
    z-index: 10001;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    color: #f0f0f0;
    user-select: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: calc(var(--lamp-size) * 4);
    font-weight: bold;
    text-align: center;
    text-shadow: black 0 0 4px;
    transition-property: opacity;
    transition-duration: 451ms;
    transition-timing-function: ease-out;
    transition-delay: 0s;
}

#ticket .field .number.visible {
    visibility: visible;
    opacity: 1;
}

#ticket .left .field .number {
    line-height: calc(var(--lamp-size) * 10);
}

#ticket .right .field .number {
    line-height: calc(var(--lamp-size) * 3);
}

#ticket .left .field {
    grid-template-columns: repeat(5, var(--lamp-size));
    grid-template-rows: repeat(10, var(--lamp-size));
}

#ticket .right .field {
    grid-template-columns: repeat(4, var(--lamp-size));
    grid-template-rows: repeat(3, var(--lamp-size));
}

#ticket .field .lamp {
    display: inline-block;
    width: var(--lamp-size);
    height: var(--lamp-size);
    border-radius: 50%;
    background-color: #0bdc42;
    color: #eee;
    transition-property: outline;
    transition-duration: 221ms;
    transition-timing-function: ease-out;
    transition-delay: 0s;
}

.marked {
    outline-offset: 2px;
    outline-color: rgb(252, 40, 40);
    outline-style: solid;
    outline-width: 3px;
    z-index: 10000;
    opacity: 1;
}

button {
    margin-top: 2em;
    border: 1px solid #787878;
    background-color: #e8e8e8;
    padding: 0.5ex 0.5em;
    cursor: pointer;
    min-height: 44px;
}

button:hover {
    background-color: #f8f8f8;
}

button:active {
    background-color: #a0a0a0;
}

button:disabled {
    background-color: #333;
}
